<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Форма для удаления пользователя</h1>

<div class="Delete profile">

    <form  method ="POST">

        <table>
            <tr>
                <td><label for="id">Введите ID пользователя для удаления: </label> </td>
                <td><input type="text" name="id" id="id"/></td>
            </tr>

            <tr>
                <td colspan="3" align="center">



                    <input type="submit" value="Удалить" id="add" onClick="add()"/>

                </td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>
