<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Страница для поиска пользователя</h1>
<form  method ="POST">

    <table>
        <tr>
            <td><label for="id">Ид пользователя: </label> </td>
            <td><input type="text" name="id" id="id"/></td>
        </tr>



        <tr>
            <td colspan="3" align="center">

                <input type="submit" value="Добавить" id="add" onClick="add()"/>

            </td>
        </tr>
    </table>
</form>

</body>
</html>
